<h1 style="color:blue;margin-left: 40px;text-decoration: underline;text-shadow: 3px 3px red;">Update Post Details</h1>
<%= form_for @user do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.submit %>
  
<% end %>